.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li {
    display: inline; 
    background-color: white;
    margin: 10px;
}
nav li a{
    color: navy;
    font-family: sans-serif;
    font-size: 18px;
 }
input{
    border-radius: 10%;
    margin-left: 8px;
}
body{
    background-color: beige;
    color: navy;
    font-family: sans-serif;
    padding: 10px;
}
h1 {
    margin-left: 15px;
}
.navbar{
    margin: 10px;
}
input ~ input {
    margin-top: 10px;
}