.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: gray;}
nav li a{color: navy}
input{border-radius: 50%;}
body{
    background-color: beige;
    color: navy;
}